# Jakub Szut
## Dataset 5 - earthquake_data.csv

## Zadanie 1
Wczytać, przeanalizować i przetworzyć dane dotyczące trzęsień ziemi.

In [51]:
import pandas as pd

Wczytaj i zaprezentuj oryginalny zbiór danych

In [52]:
filename = '../original_data/earthquake_data.csv'

In [53]:
ori = pd.read_csv(filename)

In [54]:
ori

,"In general, how worried are you about earthquakes?","How worried are you about the Big One, a massive, catastrophic earthquake?","Do you think the ""Big One"" will occur in your lifetime?",Have you ever experienced an earthquake?,"Have you or anyone in your household taken any precautions for an earthquake (packed an earthquake survival kit, prepared an evacuation plan, etc.)?",How familiar are you with the San Andreas Fault line?,How familiar are you with the Yellowstone Supervolcano?,Age,What is your gender?,How much total combined money did all members of your HOUSEHOLD earn last year?,US Region
0,Not at all worried,Not so worried,No,"Yes, one or more minor ones",No,Somewhat familiar,Not so familiar,18 - 29,Male,Prefer not to answer,New England
1,Somewhat worried,Very worried,No,"Yes, one or more minor ones",No,Not at all familiar,Not at all familiar,18 - 29,Male,"$75,000 to $99,999",East North Central
2,Not so worried,Somewhat worried,No,"Yes, one or more minor ones",No,Very familiar,Somewhat familiar,18 - 29,Male,"$10,000 to $24,999",Pacific
3,Not so worried,Not so worried,No,"Yes, one or more minor ones",No,Very familiar,Not so familiar,18 - 29,Male,"$25,000 to $49,999",West South Central
4,Not so worried,Not so worried,Yes,"Yes, one or more minor ones",No,Somewhat familiar,Extremely familiar,18 - 29,Male,"$200,000 and up",Middle Atlantic
...,...,...,...,...,...,...,...,...,...,...,...
1008,Not at all worried,Not at all worried,No,"Yes, one or more minor ones",No,Very familiar,Not so familiar,60,Male,Prefer not to answer,Pacific
1009,Not so worried,Somewhat worried,No,"Yes, one or more major ones",Yes,Extremely familiar,Somewhat familiar,60,Female,"$50,000 to $74,999",Pacific
1010,Not so worried,Extremely worried,No,"Yes, one or more minor ones",No,Somewhat familiar,Somewhat familiar,30 - 44,Female,Prefer not to answer,Middle Atlantic
1011,Not at all worried,Not so worried,No,No,No,Somewhat familiar,Somewhat familiar,30 - 44,Female,"$50,000 to $74,999",East North Central
1012,Somewhat worried,Not so worried,No,"Yes, one or more minor ones",No,NaN,NaN,NaN,NaN,NaN,NaN

Zamień nazwy kolumn w oryginalnych danych na krótkie i zwięzłe.

In [55]:
ori = ori.rename(columns={
    'In general, how worried are you about earthquakes?':'earthquake worries',
    'How worried are you about the Big One, a massive, catastrophic earthquake?':'Big One worries',
    'Do you think the "Big One" will occur in your lifetime?':'Big One occurance prediction',
    'Have you ever experienced an earthquake?':'earthquake experienced',
    'Have you or anyone in your household taken any precautions for an earthquake (packed an earthquake survival kit, prepared an evacuation plan, etc.)?':'earthquake precautions taken',
    'How familiar are you with the San Andreas Fault line?':'San Andreas Fault line familiarity',
    'How familiar are you with the Yellowstone Supervolcano?':'yellowstone familiarity',
    'Age':'age',
    'What is your gender?':'gender',
    'How much total combined money did all members of your HOUSEHOLD earn last year?':'household earnings',
    'US Region':'us region'})

In [56]:
ori

,earthquake worries,Big One worries,Big One occurance prediction,earthquake experienced,earthquake precautions taken,San Andreas Fault line familiarity,yellowstone familiarity,age,gender,household earnings,us region
0,Not at all worried,Not so worried,No,"Yes, one or more minor ones",No,Somewhat familiar,Not so familiar,18 - 29,Male,Prefer not to answer,New England
1,Somewhat worried,Very worried,No,"Yes, one or more minor ones",No,Not at all familiar,Not at all familiar,18 - 29,Male,"$75,000 to $99,999",East North Central
2,Not so worried,Somewhat worried,No,"Yes, one or more minor ones",No,Very familiar,Somewhat familiar,18 - 29,Male,"$10,000 to $24,999",Pacific
3,Not so worried,Not so worried,No,"Yes, one or more minor ones",No,Very familiar,Not so familiar,18 - 29,Male,"$25,000 to $49,999",West South Central
4,Not so worried,Not so worried,Yes,"Yes, one or more minor ones",No,Somewhat familiar,Extremely familiar,18 - 29,Male,"$200,000 and up",Middle Atlantic
...,...,...,...,...,...,...,...,...,...,...,...
1008,Not at all worried,Not at all worried,No,"Yes, one or more minor ones",No,Very familiar,Not so familiar,60,Male,Prefer not to answer,Pacific
1009,Not so worried,Somewhat worried,No,"Yes, one or more major ones",Yes,Extremely familiar,Somewhat familiar,60,Female,"$50,000 to $74,999",Pacific
1010,Not so worried,Extremely worried,No,"Yes, one or more minor ones",No,Somewhat familiar,Somewhat familiar,30 - 44,Female,Prefer not to answer,Middle Atlantic
1011,Not at all worried,Not so worried,No,No,No,Somewhat familiar,Somewhat familiar,30 - 44,Female,"$50,000 to $74,999",East North Central
1012,Somewhat worried,Not so worried,No,"Yes, one or more minor ones",No,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
ori.to_csv("../output/earthquake_data_headers_changed.csv")

In [58]:
manip = {'age':ori['age'], 
       'sex':ori['gender'],
       'Big One expected': ori['Big One occurance prediction']}
out = pd.DataFrame(data = manip)

In [59]:
out

          age     sex Big One expected
0     18 - 29    Male               No
1     18 - 29    Male               No
2     18 - 29    Male               No
3     18 - 29    Male               No
4     18 - 29    Male              Yes
...       ...     ...              ...
1008       60    Male               No
1009       60  Female               No
1010  30 - 44  Female               No
1011  30 - 44  Female               No
1012      NaN     NaN               No

[1013 rows x 3 columns]

In [60]:
nan_count = out.isnull().any(axis=1).sum()
print(nan_count)

12

In [61]:
nan_perc = nan_count/len(out)
print(nan_perc)

0.011846001974333662

In [62]:
out[out.isnull().any(axis=1)]

      age  sex Big One expected
6     NaN  NaN              Yes
12    NaN  NaN              Yes
151   NaN  NaN               No
162   NaN  NaN               No
358   NaN  NaN              Yes
395   NaN  NaN              Yes
606   NaN  NaN               No
659   NaN  NaN               No
737   NaN  NaN              Yes
872   NaN  NaN              Yes
992   NaN  NaN               No
1012  NaN  NaN               No

In [63]:
out = out.dropna()
out

          age     sex Big One expected
0     18 - 29    Male               No
1     18 - 29    Male               No
2     18 - 29    Male               No
3     18 - 29    Male               No
4     18 - 29    Male              Yes
...       ...     ...              ...
1007       60  Female               No
1008       60    Male               No
1009       60  Female               No
1010  30 - 44  Female               No
1011  30 - 44  Female               No

[1001 rows x 3 columns]

In [64]:
out['age'].value_counts()

45 - 59    275
30 - 44    257
60         254
18 - 29    215
Name: age, dtype: int64

In [65]:
avg_age = ((36.5*275) + ((44+30)/2)*257 + (60*254) + ((29+18)/2)*215)/1013
print(avg_age)

39.32773938795656

In [66]:
out.to_csv('../output/earthquake_data_simplified.csv')